.header {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  max-width: 460px;
  list-style-type: none;
}

.search {
  font-size: 30px;
  padding-left: 40px;
  text-decoration: none;
}
.search:hover {
}

.logo {
  margin-top: 1px;
  margin-left: 35px;
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 630px) {
  .header {
    margin-right: 30px;
  }
  .search {
    font-size: 5vw;
  }

  .logo {
    width: 8vw;
    height: 8vw;
    margin-right: -15px;
  }
}
